
  @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

}

.container{
    height: 600px;
    margin: 20px;
    /* padding: 40px 50px; */ 
    border-radius: 8px;
    background-color:#D0D4D5;
    color: rgb(0, 0, 0);
}

.header{
    height: 90px;
    /* background-color: rgb(119, 6, 6); */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    
}


body{
  

}

.logo img{
    height: 40px;
}

.navbar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar ul li{
    list-style-type: none;
    padding: 30px;
    text-transform:uppercase;
    cursor: pointer;
}

.navbar ul li:hover{
    text-decoration: underline;
    color: rgb(82, 82, 82);
    transition: 0.5s;
}


.icon ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.icon ul li{
    list-style-type: none;
    padding: 30px;
    font-size: 25px;
    text-transform:uppercase;
    font-weight: 200px;
    cursor: pointer;
}

.icon ul li:hover{
    color: rgb(53, 51, 51);
}


#cart-span span{
    position: absolute;
    top: 50px;
    right: 164px;
    font-size: 15px;
}

/* Header section is compleate */



.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.hero-left{
    height: 500px;
    width: 35%;
    /* background-color: #5b5c5c; */
    padding: 50px 45px ;
    text-align: start;
    align-items: center;
}




.hero-left h5{
    margin: 30px 0;
    color: #929292;
}

.hero-left h1{
    font-size: 50px;
    font-weight: 700;
    margin: 30px 0;
    text-transform: uppercase;
}

.hero-left p{
    margin: 30px 0;

}

.hero-left button{
    height: 40px;
    width: 150px;
    margin-top: 20px;
    background-color: black;
    color: white;
    outline: none;
    border: none;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    text-transform: uppercase;

}

.hero-left button:hover{
    color: #838282;
}

.hero-right{
    height: 500px;
    width: 65%;
    /* background-color: #085555; */
    padding: 50px;
    display: flex;
    justify-content: space-between;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}

.image-section{
    height: 350px;
    width: 250px;
    background-color: #F5F5F5;
    /* padding: 10px; */
    border-radius: 8px;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    /* margin-right: 40px; */
    

}

.image-section:hover{
    /* transform: scaley(1.1); */
    box-shadow: 0 0 20px 0 black;
    transform: translate(0,-4px);
}

.image-section img{
    height: 170px;
    border-radius: 8px;
    position: absolute;
    top: 20%;
   
}


.image-section h5{
    height: 30px;
    width: 128px;
    background-color: black;
    color: white;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-size: 12px;
    padding: 6px 5px;
    position: absolute;
    bottom:35px;
    right: 0;
    cursor: pointer;
}

.image-section h6{
    height: 35px;
    width: 160px;
    background-color: rgb(150, 150, 150);
    color: rgb(0, 0, 0);
    text-align: center;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    align-items: center;
    font-size: 12px;
    position: absolute;
    bottom:0;
    right: 0;
    padding: 9px 5px;
    cursor: pointer;
    
}

/* .image-2 img{
    height: 20px;
} */